<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout :: htmlhead"></head>
<body>
<div class="container">
    <nav th:replace="layout :: menu (buttons = ${ {} })">(menu)</nav>
    <a th:href="@{/compra/form}" class="btn btn-dark"> + Cadastrar compra</a>

    <table class="table" id="compras">
        <thead>
        <tr>
            <th>Data</th>
            <th>Produtos</th>
            <th>Nome da Empresa</th>
            <th>CNPJ</th>
            <th>Valor Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" th:each="compra : ${compras}">
            <!--/*@thymesVar id="getNome" type="java"*/-->
            <td th:text="${#dates.format(compra.data, 'dd/MM/yyyy HH:mm')}"></td>
            <td>
            <ul th:each="item : ${compra.listaItens}">
                <li th:text="${item.produto.nome}"></li>
            </ul>
            </td>
            <td th:text="${compra.nomeEmpresa}"></td>
            <td th:text="${compra.cnpj}"></td>
            <td th:text="${#numbers.formatCurrency(compra.valorTotal)}">R$100</td>
            <td>
                <a th:href="@{'/compra/alterar/'+${compra.id}}" class="btn btn-light" >...</a>
                <button class="btn btn-danger js-delete"
                        th:data-id="${compra.id}">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Excluir
                </button>
            </td>
            </td>
        </tr>
        </tbody>
    </table>


</div>

<div th:replace="layout :: footer">(footer)</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#compras").on('click', ".js-delete", function(){
            let button = $(this);
            bootbox.confirm("Confirma a exclusão do registro?",function(result){
                console.log(result);
                if(result){
                    $.ajax({
                        url : "/compra/delete/" + button.attr("data-id"),
                        method: "GET",
                        success : function(){
                            window.location.href = "/compra/";
                        }
                    });
                }
            });
        });
    });
</script>
</body>
</html>