<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout :: htmlhead"></head>
<body>
<div class="container">
    <nav th:replace="layout :: menu (buttons = ${ {} })">(menu)</nav>

    <table class="table" id="estoques">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Ultima Modificacao</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" th:each="estoque : ${objetos}">
            <td th:text="${estoque.get('produto').nome}"></td>
            <td th:text="${estoque.get('quantidade')}"></td>
            <td th:text="${#dates.format(estoque.get('data'), 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>


</div>

<div th:replace="layout :: footer">(footer)</div>

</body>
</html> 