<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout :: htmlhead"></head>
<body>
<div class="container">
    <nav th:replace="layout :: menu (buttons = ${ {} })">(menu)</nav>

    <table class="table" id="estoques">
        <thead>
        <tr>
            <th>Data</th>
            <th>Produto</th>
            <th>quantidade</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" th:each="estoque : ${objetos}">
            <td th:text="${estoque.data}"></td>
            <td th:text="${estoque.produto.nome}"></td>
            <td th:text="${estoque.quantidade}"></td>
        </tr>
        </tbody>
    </table>


</div>

<div th:replace="layout :: footer">(footer)</div>

</body>
</html> 