<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <a th:href="@{/produto}" class="btn btn-dark">Produtos</a>
                <form th:action="@{/produto/(form)}" th:object="${produto}" method="POST">
                    <input type="hidden" th:field="*{idProduto}">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="inputName" class="form-label">Nome</label>
                        <input type="text" class="form-control" th:field="*{nome}">
                      </div>
                      <div class="col-md-6">
                        <label for="inputValue" class="form-label">Valor</label>
                        <input type="value" class="form-control" th:field="*{valor}">
                      </div>
                    </div> 
                      <div class="row">
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                        </div>
                      </div> 
                  </form>

            





        </div>
        

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html> 