<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu (buttons = ${ {} })">(menu)</nav>
            <a th:href="@{/produto/form}" class="btn btn-dark">Novo Produto</a>

            <table class="table" id="produtos">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary" th:each="produto : ${objetos}">
                        <!--/*@thymesVar id="getNome" type="java"*/-->
                        <td th:text="${produto.getNome()}"></td>
                        <td th:text="${#numbers.formatCurrency(produto.valor)}">R$100</td>
                        <td>
                            <a th:href="@{'/produto/alterar/'+${produto.id}}" class="btn btn-light" >...</a>
                            <button class="btn btn-danger js-delete"
                                    th:data-id="${produto.id}">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Excluir
                            </button>
                        </td>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        
        <div th:replace="layout :: footer">(footer)</div>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#produtos").on('click', ".js-delete", function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?",function(result){
                        console.log(result);
                        if(result){
                            $.ajax({
                                url : "/produto/delete/" + button.attr("data-id"),
                                method: "GET",
                                success : function(){
                                    window.location.href = "/produto/";
                                }
                            });
                        }
                    });
                });
            });
        </script>
    </body>
</html> 